:root {
  --color-welcome: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  --color-bground-project: linear-gradient(155deg, #e3ffe7 0%, #d9e7ff 100%);
  --color-bground-display: linear-gradient(5deg, #e3ffe7 0%, #d9e7ff 100%);
  --color-navbar: linear-gradient(#fbfbfbd5 0%, #f0f1f491 100%);
  --color-text-navbar: #051937;
  --color-text-shadow: -1px 3px 3px #9adf77f0;
  --color-welcome-text: azure;
  --color-darkshadow: 5px 6px 7px var(--color-text-navbar);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #222;
}
a:visited {
  color: var(--color-text-navbar);
}

body {
  height: 100%;
  font-size: 62.5%;
}
nav {
  margin: 0;
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  background: var(--color-navbar);
  height: 8%;
  align-items: center;
  justify-content: center;
}
nav a,
nav a:visited {
  margin: 0;
  padding: 0 15px 5px 15px;
  display: flex;
  text-decoration: none;
  color: var(--color-text-navbar);
  text-shadow: var(--color-text-shadow);
  font-size: 1.2rem;
}
main {
  text-align: justify;
  overflow: hidden;
}
#welcome-section {
  padding: 40px 0;
  width: 100vw;
  height: 100vh;
  background-image: var(--color-welcome);
}
#welcome-section * {
  color: var(--color-welcome-text);
}
.section-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  gap: 10px;
  background: var(--color-bground-display);
}
.display-text {
  padding: 0 25px 0 25px;
  font-size: 1.2rem;
}
#laptop-image {
  width: 60%;
  margin-bottom: 15px;
  align-self: center;
  box-shadow: var(--color-darkshadow);
}
.justify {
  text-align: justify;
}
.right {
  text-align: right;
  text-shadow: var(--color-text-shadow);
}

#welcome-image {
  width: 90%;
}
.welcome-text {
  text-shadow: var(--color-text-shadow);
  margin-top: 30px;
  align-self: center;
  display: flex;
}

.section-title {
  font-size: 2rem;
  text-shadow: var(--color-text-shadow);
  margin-top: 30px;
  align-self: center;
}
h2.section-title {
  margin-top: 15%;
}
.welcome-text {
  font-size: 1.4rem;
}
#projects {
  background: var(--color-bground-project);
  border-top: 5px solid #004d7a;
}
.projects-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
  padding-bottom: 25px;
}
.project-image {
  width: 150px;
  height: 120px;
  background-size: cover;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 5px 6px 7px var(--color-text-navbar);
  border-radius: 10px;
}
.project-tile {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
.section-contact {
  background: var(--color-bground-project);
  width: auto;
  height: 350px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-bottom: 5px solid #004d7a;
  border-top: 5px solid #004d7a;
}

.section-contact .section-title {
  margin-top: 0;
  padding: 30px 15px 15px 15px;
  text-align: center;
}
.contact-links {
  display: flex;
  gap: 20px;
  margin: 40px 15px 40px 15px;
  font-size: 1.3rem;
  color: #008793;
  text-shadow: var(--color-text-shadow);
}
.footer {
  padding: 10px 15px 5px 15px;
  font-size: 1rem;
}
.display-text .footer {
  border-top: 5px solid #004d7a;
}

@media only screen and (min-width: 768px) {
  nav {
    justify-content: end;
  }
  nav a,
  nav a:visited {
    font-size: 1.3rem;
  }
  #welcome-section {
    display: grid;
    grid-template: 50% 50% / minmax(50%, 600px) minmax(50%, 600px);
    align-items: center;
    justify-items: flex-start;
    gap: 0;
  }
  #welcome-image {
    width: 110%;
    margin-left: 30%;
    grid-row: 1 / -1;
  }
  #welcome-section h1 {
    align-self: end;
    text-align: left;
    font-size: 2.6rem;
  }
  #welcome-section p {
    align-self: start;
    font-size: 2.3rem;
  }
  .display-text {
    padding: 0 25px 0 25px;
    font-size: 1.8rem;
  }
  #laptop-image {
    width: 40%;
    margin-bottom: 45px;
  }
  h2.section-title {
    margin: 58px 0 10px 0;
    height: 100px;
    font-size: 3rem;
  }
  .projects-container {
    padding: 40px 20px 25px 20px;
    gap: 30px;
  }

  .project-tile {
    font-size: 1.3rem;
  }
  .section-contact {
    height: 450px;
  }
  .contact-links {
    font-size: 2.3rem;
  }
  p.footer {
    margin-top: 40px;
    font-size: 1.2rem;
    color: #00bf72;
  }
}

@media only screen and (min-width: 1024px) {
  nav {
    justify-content: end;
    padding-right: 20px;
  }
  nav a,
  nav a:visited {
    font-size: 2rem;
  }
  .welcome-text {
    font-size: 3rem;
  }
  .section-title {
    font-size: 4rem;
  }
  .display-text {
    padding: 10px 25px 0 25px;
    font-size: 2.3rem;
  }
  #laptop-image {
    width: 40%;
    margin-bottom: 60px;
  }
  h2.section-title {
    margin: 58px 0 10px 0;
    height: 100px;
    font-size: 4.5rem;
  }
  .projects-container {
    padding: 40px 30px 25px 30px;
    gap: 40px;
  }
  .project-image {
    width: 280px;
    height: 200px;
  }
  .project-tile {
    font-size: 2rem;
  }
  .section-contact {
    height: 600px;
  }
  .contact-links {
    font-size: 3rem;
  }
  p.footer {
    margin-top: 90px;
    font-size: 1.8rem;
    color: #00bf72;
  }
}
@media only screen and (min-width: 1440px) {
  nav {
    justify-content: end;
    padding-right: 20px;
  }
  nav a,
  nav a:visited {
    font-size: 2rem;
  }
  #welcome-section h1 {
    font-size: 4rem;
  }
  #welcome-section p {
    font-size: 3rem;
  }

  .section-title {
    font-size: 4rem;
  }
  .display-text {
    padding: 0 5%;
    font-size: 3.5rem;
    margin-top: 1rem;
  }
  #laptop-image {
    width: 35%;
    margin-bottom: 60px;
    box-shadow: 9px 9px 12px var(--color-text-navbar);
    margin-top: 8%;
  }
  .right {
    margin-bottom: 3rem;
  }
  h2.section-title {
    margin: 58px 0 90px 0;
    height: 100px;
    font-size: 5.5rem;
  }
  .projects-container {
    padding: 40px 30px 25px 30px;
    gap: 50px;
  }
  .project-image {
    width: 400px;
    height: 270px;
    box-shadow: 9px 9px 12px var(--color-text-navbar);
  }
  .project-tile {
    font-size: 3rem;
  }
  .section-contact {
    height: 750px;
  }
  .contact-links {
    font-size: 4.5rem;
  }
  p.footer {
    margin-top: 50px;
    font-size: 2.2rem;
    color: #00bf72;
  }
}
